.no-data {
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://kcat.site/ky/img/noData.cd73e6bd.png');
}
.no-data-msg {
  text-align: center;
  margin-top: 30px;
}