@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1638001597780') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e656";
}

.icon-camera:before {
  content: "\e658";
}

.icon-back:before {
  content: "\e662";
}

.icon-top:before {
  content: "\e663";
}

.icon-down:before {
  content: "\e664";
}

.icon-right:before {
  content: "\e665";
}

.icon-left:before {
  content: "\e666";
}

.icon-lbsfill:before {
  content: "\e668";
}

.icon-lbs:before {
  content: "\e669";
}

.icon-refresh:before {
  content: "\e66a";
}

.icon-tag:before {
  content: "\e66c";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-comments:before {
  content: "\e689";
}

.icon-share:before {
  content: "\e68b";
}

.icon-user:before {
  content: "\e68e";
}

.icon-date:before {
  content: "\e697";
}

.icon-qr2:before {
  content: "\e6a5";
}

.icon-pic:before {
  content: "\e6aa";
}

.icon-filter:before {
  content: "\e6b9";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-zuji:before {
  content: "\e70a";
}

.icon-pinpaitemai-tianchong:before {
  content: "\e70c";
}

.icon-pinpaitemai:before {
  content: "\e70d";
}

.icon-fenxiang-:before {
  content: "\e713";
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-baokuan-:before {
  content: "\e71a";
}

