.dark {
  color: #2b1216;
}

.bgdark {
  background: #2b1216 !important;
}

.alink {
  color: #12aa9c;
}

.gray {
  color: #bbb5ac;
}

.bgagray {
  background-color: rgba(187, 181, 172, 0.2);
}

.eee {
  color: #eee;
}

.fff {
  color: #fff;
}

.bgfff {
  background-color: #fff;
}