.mymap-page {
  .map-maker {
    .maker-item {
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      .maker-title {
        margin-top: 10px;
      }
      .maker-experience {
        margin-top: 10px;
        color: #b2bbbe;
      }
    }
  }
}