.user-page {
  .user-info {
    margin-bottom: 90px;
    .user-logo {
      width: 120px;
      height: 120px;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 50%;
    }
    .default-bgi {
      background-image: url('../../asserts/logos/kcat.jpg');
    }
    .user-name {
      color: #2b1216;
      flex-direction: column;
    }
  }

  .func-nav {
    margin-top: 90px;
    margin-bottom: 180px;
  }
}