.login-page {
  text-align: center;

  .kcat-logo {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../asserts/logos/kcat.jpg');
  }

  .kcat-name {
    font-size: 32px;
    font-weight: bold;
  }

  .login-input {
    padding: 24px 48px;
    font-size: 26px;
    text-align: left;

    .li-label {
      width: 160px;
    }

    input {
      flex-grow: 1;
    }
  }

  .login-submit {
    height: 92px;
    line-height: 92px;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .login-submit:active {
    background-color: #444;
  }
}
